<footer>
    <div class="networks mr-auto">
        <div class="network-icons">
            <a href="">
                <img src="../../assets/img/facebook.png" alt="">
            </a>
        </div>
        
        <div class="network-icons">
            <a href="http://www.instagram.com/diskettehouse" target="_blank">
                <img src="../../assets/img/instagram.png" alt="">
            </a>
        </div>
        
        
        <div class="network-icons">
            <a href="">
                <img src="../../assets/img/twitter.png" alt="">
            </a>
        </div>
    </div>
    <div class="footer-phrase ml-auto">
        <p>DisketteHouse 2020 © Todos os direitos reservados</p>
    </div>
</footer>