.gradiente {
    height: 100%;
    background: rgb(210,251,249);
background: linear-gradient(180deg, rgba(210,251,249,1) 0%, rgba(218,247,244,1) 27%, rgba(255,255,255,1) 100%);
}
header {
    height: 90vh;
    width: 100%;
    background-color: #66ccbb;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
header > h1 {
    color: #FFFF44;
}
#img-diskette {
    height: 20%;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.headerimg {
    height: 80%;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}
.headerimg > img {
    height: 100%;
    width: auto;
}
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #66ccbb;
}
main > p {
    width: 70%;
}
.cards {
    display: flex;
}
.btn-warning {
    background-color: orangered;
    color: white;
    border: orangered solid 1px;
    padding: 10px;
}

article {
    color: #66ccbb;
}
h3 {
    font-size: 50px;
}
p {
    font-size: 20px;
}