<header class="container-fluid">
    <div id="img-diskette">
        <img src="../../assets/img/Diskette-House.svg" alt="">
    </div>
    <div class="headerimg">
        <img src="../../assets/img/disketteheader.png" alt="">
    </div>
</header>
<div class="gradiente">
    <main class="container py-5 text-center">
        <h3>Quem somos nós?</h3>
        <p>O Diskette House é uma loja de disquetes que nasceu em 2020 para trazer de volta um dos objetos mais icônicos da história da tecnologia, com novos usos e com formas incríveis de personalização esperamos que você possa encontrar o melhor de clássico aqui.</p>
    </main>
    <section class="container mb-5">
        <div class="row cards">
            <div class="col-md-4">
                <div class="card text-center" style="width: 18rem;">
                    <img src="../../assets/img/disquetes1.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title ">Combo Disquetes personalizáveis</h5>
                        <a href="#" class="btn btn-primary">Comprar</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card text-center" style="width: 18rem;">
                    <img src="../../assets/img/disquetes2.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title ">Combo Disquetes personalizáveis</h5>
                        
                        <a href="#" class="btn btn-primary">Comprar</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card text-center" style="width: 18rem;">
                    <img src="../../assets/img/disquetes3.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Combo Disquetes personalizáveis</h5>
                        <a href="#" class="btn btn-primary">Comprar</a>
                    </div>
                </div></div>
            </div>
        </section>
        <article class="text-center p-5">
            <h3>Dúvidas?</h3>
            <p>Entre em contato pela nossa página de contato ou envia um e-mail para duvidas@diskettehouse.com.</p>
            <a routerLink="/contact" class="btn btn-warning">Entre em Contato</a>
        </article>
    </div>